body {
    background: url('img/backblur.jpg') no-repeat 0 0;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

#logo {
    z-index: 3;
    position: absolute;
    top: 20%;
    left: 25%;
    box-shadow: 0px 0px 1000px #000;
    border-radius: 100px;
    display: block;
    border: 10px solid #b79b6c;
}

#startbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 36px;
    padding: 5px;
    background-color: #6a67ce;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}

#canvas {
    display: none;
}

#try {
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 3%;
    border-radius: 20px;
    /* transform: scale(0.39); */
    clip: rect(0px, 800px, 90px, 0px);
    transition: clip 1s;
    display: none;
}

#try:hover {
    clip: rect(0px, 800px, 1000px, 0px);
}

.circle {
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: rgb(2, 2, 2);
    border-radius: 50%;
    z-index: 2;
    top: 20%;
    left: 33%;
    box-shadow: 0px 0px 100px #000;
    border: 20px solid #b79b6c;
    transition: transform .2s;
}

.circle:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.4);
    background-color: rgb(2, 2, 2);
    border: 20px solid #b79b6c;
}

.uploadImage {
    position: absolute;
    height: 128px;
    width: 128px;
    background-image: url('img/photo.png');
    z-index: 2;
    top: 10%;
    left: 35%;
    transform: scale(1);
}
.cameraImage {
    position: absolute;
    height: 128px;
    width: 128px;
    background-image: url('img/camera.png');
    z-index: 2;
    top: 50%;
    left: 35%;
    transform: scale(1);
}
/* #webcambutton {
    top: 50%;
    position: absolute;
    left: 4%;
} */
#uploadPreview {
    position: absolute;
    /* height: 128px;
    width: 128px; */
    z-index: 2;
    top: 51%;
    left: 28%;
    transform: scale(1);
    border-radius: 15px;
    display: none;
}

#upload-image {
    position: absolute;
    z-index: 2;
    top: 44%;
    left: 35%;
    width: 90px;
    text-align: center;
    display: none;
}
/* #sub {
    top: 50%;
    position: absolute;
    left: 44%;
} */
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}       
#nameSpan {
    font-family: Calibri;
    position: absolute;
    z-index: 2;
    top: 80%;
    left: 38%;
    text-align: center;
}

#detcon {
    background-color: white;
    width: 44%;
    height: 32%;
    top: 58%;
    left: 28%;
    position: absolute;
    border-radius: 30px;
}

#probSpan {
    font-family: Calibri;
    position: absolute;
    z-index: 2;
    top: 84%;
    left: 42%;
    text-align: center;
}

.file-style {
    font-family: Calibri;
    position: absolute;
    z-index: 2;
    top: 42%;
    left: 30%;
    width: 90px;
    height: 30px;
    cursor: pointer;
    background-color: #e0556c;
    border-radius: 5px;
    padding: 6px 18px;
    color: white;
    font-size: 16px;
}
/* .file-style2 {
    font-family: Calibri;
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 40%;
    width: 90px;
    height: 22px;
    cursor: pointer;
    background-color: #e0556c;
    border-radius: 5px;
    padding: 2px 18px;
    color: white;
    font-size: 16px;
} */
.file-style3 {
    font-family: Calibri;
    position: absolute;
    z-index: 2;
    top: 70%;
    left: 40%;
    width: 90px;
    height: 22px;
    cursor: pointer;
    background-color: #e0556c;
    border-radius: 5px;
    padding: 2px 18px;
    color: white;
    font-size: 16px;
}
#webcambutton {
    font-family: Calibri;
    position: absolute;
    z-index: 2;
    top: 80%;
    left: 39.5%;
    width: 90px;
    height: 30px;
    cursor: pointer;
    background-color: #1e939b;
    border-radius: 5px;
    padding: 2px 16px;
    color: white;
    font-size: 16px;
    border: 0;
}
#sub {
    font-family: Calibri;
    position: absolute;
    z-index: 2;
    top: 42%;
    left: 52%;
    width: 90px;
    height: 30px;
    cursor: pointer;
    background-color: #e0556c;
    border-radius: 5px;
    padding: 2px 18px;
    color: white;
    font-size: 16px;
}
.camera-style {
    font-family: Calibri;
    position: absolute;
    z-index: 2;
    top: 77%;
    left: 40%;
    width: 90px;
    height: 22px;
    cursor: pointer;
    background-color: #4db6e3;
    border-radius: 5px;
    padding: 2px 18px;
    color: white;
    font-size: 16px;
}